{%  load static %}
<div class="row my_row">
<nav class="navbar navbar-expand-lg navbar-light my_navbar">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
         <div>
            <a href="{% url 'shop:allProdCat' %}" class="logoimg"><img src="{% static 'img/logo.png' %}" alt="logoimg" width="50px" height="50px" ></a>
         </div>
<!--      <li class="navbar navbar-light bg-light">-->
<!--        <a class="navbar-brand"  href="{% url 'shop:allProdCat' %}"><img src="{% static 'img/logo.png' %}" alt="logoimg" width="50px" height="50px"></a>-->
<!--   div   </li>-->

      <li class="nav-item dropdown {% if 'shop' in request.path %} active {% endif %} ">
        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         SHOP
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'shop:allProdCat' %}">All Products</a>
          {% for i in links %}
          <a class="dropdown-item" href="{{i.get_url}}">{{i.name}}</a>
           {% endfor %}
          <div class="dropdown-divider"></div>
        </div>
      </li>
        <div>
            {% if item_count > 0 %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'cart:cartDetail' %}"><i class="fa fa-bag-shopping"></i>{{item_count}}</a>
      </li>
            {% endif %}
       </div>
        <div class="search">
         <form class="d-flex" action="{% url 'search:searchGo' %}" method="get">
              <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
              <button class="btn btn-outline-light" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </ul>

  </div>

</nav>
  </div>

<!--<nav>-->
<!--  <ul>-->
<!--    <li>-->
<!--      <a href="{% url 'shop:allProdCat' %}">All Products</a><br> </li>-->
<!--        {% for i in links %}-->
<!--       <li><a href="{{i.get_url}}">{{i.name}}</a><br></li>-->
<!--        {% endfor %}-->


<!--  </ul>-->

<!--</nav>-->


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->